page-home {

/*.ion-ios-talkd,
.ion-md-talkd {
  content: url(assets/icon/Icoon.svg);
  width: 24px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}*/
h2{ text-align: center;}
p{text-align: center;}

}
